* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'PermanentMarker';
    src: local('PermanentMarker'), url('../assets/fonts/PermanentMarker-Regular.ttf');
}

/* ========== SECTION COMING SOON ========== */
.coming-soon {
    height: 85vh;
    background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
}

h1 {
    font-family: PermanentMarker;
    font-size: 8vh;
    color: white;
    text-align: center;
    padding: 35vh 0 0;
}