@font-face {
    font-family: 'PermanentMarker';
    src: local('PermanentMarker'), url('../assets/fonts/PermanentMarker-Regular.ttf');
  }

header {
    height: 15vh;
    background-image: url("../assets/background/texture.png");
}

.menu-burger, #toggle {
    display: none;
}
.menu {
    display: flex;
    justify-content: space-around;
}

.menu a {
    font-family: PermanentMarker;
    font-size: 2.5vh;
    color: black;
    text-decoration: none;
    padding: 5vh 0;
}

#contact-link {
    background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}

#logo-link {
    padding: 1vh 0;
}

#logo {
    width: 12vw;
    height: 12vh;
    /* padding: 1vh 0; */
    cursor: pointer;
}


/* ===== RESPONSIVE ===== */
@media screen and (max-width: 400px) {
.header {
    display: flex;
    flex-direction: column;
}
nav {
    height: 60px;
}

nav .menu 
{
    display: none;
    flex-direction: column;
    height: 30vh;
}

nav .menu a {
    width: 50%;
}

.menu-burger {
    width: 10vw;
    display: flex;
    justify-content: center;
    padding: 3vh 0 0;
    margin: 0 auto;
    font-size: 5vh;
    background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    cursor: pointer;
}
#toggle:checked + .menu {
    display: flex;
    flex-direction: column;
}
}