/* ***** FONT ***** */
@font-face {
    font-family: 'PermanentMarker';
    src: local('PermanentMarker'), url('../assets/fonts/PermanentMarker-Regular.ttf');
  }

/* ***** GENERAL ***** */
header {
    height: 15vh;
    background-image: url("../assets/background/texture.png");
}
 
/* ***** MENU ***** */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#topnav_menu {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    font-family: PermanentMarker;
    color: black;
    font-size: 3vh;
    padding: 12px;
    text-decoration: none;
}

.link:hover {
    background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}

#logo-link {
    padding: 1vh 0;
}

#logo {
    width: 12vw;
    height: 12vh;
    cursor: pointer;
}
  
/* cache le menu burger et le logo sur l'interface desktop */
  #topnav_hamburger_icon,
  #topnav_responsive_menu,
  #home-link {
    display: none;
  }
  
  @media screen and (max-width: 400px) {
/* cache le menu desktop sur l'interface mobile */
    #topnav_menu {
      display: none;
    }
  
/* logo à gauche et menu burger à droite */
    #home-logo {
      display: block;
      position: relative;
      margin: 0 20px 50px;
      width: 15vw;
      height: 15vh;
    }
  
  /* affiche le menu responsive et le positionne à droite */
    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  
      z-index: 1;
  
      transform-origin: 0% 0%;
      transform: translate(200%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
  
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
  
      min-width: 50vw;
      height: 35vh;
      padding: 100px 0 0;
  
      text-align: center;
  
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }
  
    #topnav_responsive_menu li {
      padding: 12px 24px;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: black;
      font-size: 2vh;
      text-decoration: none;
    }
  
    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  
    /* ***** HAMBURGER ICON ***** */
    /* position et taille du menu burger */
    #topnav_hamburger_icon {
      display: block;
      position: relative;
      margin: 10px 25px 35px;
      width: 33px;
      height: 28px;
  
      z-index: 100;
  
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  
    /* style des span qui forment les traits du menu burger */
    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
  
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  
    /* position des trois traits pour former le menu burger */
    #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  
    /* change la couleur du menu burger */
    #topnav_hamburger_icon.open span {
        background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
    }
  
    /* le premier span tourne à 45° pour former la croix */
    #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    /* le second span disparait */
    #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
    /* le troisieme span tourne à -45° pour former la croix */
    #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }