* {
    margin: 0;
    padding: 0;
}

body {
    background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}

@font-face {
    font-family: 'PermanentMarker';
    src: local('PermanentMarker'), url('../assets/fonts/PermanentMarker-Regular.ttf');
  }

/* WRAPPER */
.wrapper {
    margin: 2vh 4vw;
    color: white;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1.7fr 4fr 1.7fr; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."; 
    justify-content: center; 
  }

  /* SECTION HOW TO CONTACT US */
  .contact-us {
    padding: 3vh 6vw;
    text-align: center;
    color: black;
    background-color: white;
    grid-column: 1;
    grid-row: 1 / 2;
  }
  .contact-us h2 {
    font-family: PermanentMarker;
    padding-bottom: 3%;
  }
  .contact-us p {
    font-family: Roboto, sans-serif;
  }
  #phone-number {
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #phone {
    width: 3vw;
    height: 3vh;
  }
  #number {
    background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
  }

  /* SECTION SLIDER */
  .slider {
    grid-column: 2;
    grid-row: 1 / 2;
    background-color: red;
  }

  /* SECTION HOW TO FIND US */
  .find-us {
    background-image: url("../assets/images/localisation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 20vh 6vw 0;
    text-align: center;
    grid-column: 1;
    grid-row: 2 / 3;
    /* filter: brightness(80%) */
  }
  .find-us h2 {
    font-family: PermanentMarker;
  }
  .find-us p {
    font-family: Roboto, sans-serif;
    z-index: 1;
  }

  /* SECTION MAP */
  .map {
    grid-column: 1;
    grid-row: 3 / 4;
  }

  /* SECTION FORM */
  .form {
    grid-column: 2;
    grid-row: 2 / 4;
    background-color: blue;
  }
