/* ***** FONT ***** */
@font-face {
  font-family: 'PermanentMarker';
  src: local('PermanentMarker'), url('../assets/fonts/PermanentMarker-Regular.ttf');
}

/* ***** GENERAL ***** */
* {
    margin: 0;
    padding: 0;
}

body {
    background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
    width: auto;
    overflow-y: scroll;
}

/* ***** WRAPPER ***** */
.wrapper {
    margin: 2vh 0 0;
    color: white;
    display: grid; 
    grid-template-columns: (2, 1fr); 
    grid-template-rows: (3, 1fr); 
    justify-content: center; 
  }

  /* ***** SECTION HOW TO CONTACT US ***** */
  .contact-us {
    padding: 10vh 6vw;
    text-align: center;
    color: black;
    background-color: white;
    grid-column: 1;
    grid-row: 1 / 2;
    width: 36vw;
    height: auto;
  }

  .contact-us h2 {
    font-family: PermanentMarker;
    padding-bottom: 3%;
  }

  .contact-us p {
    font-family: Roboto, sans-serif;
  }

  #phone-number {
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #phone-icon {
    padding: 0.8vh 0 0;
    width: 3vw;
    height: 3vh;
  }

  #number {
    background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
  }

  /* ***** SECTION SLIDER ***** */
  .slider {
    grid-column: 2;
    grid-row: 1 / 2;
    width: auto;
    height: auto;
  }

  .swiper {
    grid-column: 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
  }

  /* ***** SECTION HOW TO FIND US ***** */
  .find-us {
    background-image: url("../assets/images/localisation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 20vh 6vw 0;
    text-align: center;
    grid-column: 1;
    grid-row: 2 / 3;
    height: auto;
  }

  .find-us h2 {
    font-family: PermanentMarker;
  }

  .find-us p {
    font-family: Roboto, sans-serif;
  }

  /* ***** SECTION MAP ***** */
  .map {
    grid-column: 1;
    grid-row: 3 / 4;
    height: auto;
  }

  /* ***** SECTION FORM ***** */
  .form {
    color: white;
    grid-column: 2;
    grid-row: 2 / 4;
    background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .form h2 {
    font-family: PermanentMarker;
  }

  .form p {
    font-family: Roboto, sans-serif;
  }

  .form-line {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw;
  }

  .form-label {
    color: white;
    font-weight: bold;
    padding-bottom: 1vh;
  }

  .form-input {
    color: white;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    background: transparent;
    padding: 2vh 1vw;
  }
  #form-button {
    margin: 2vh 0 0;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
  }

  #form-button h3 {
    padding: 2vh 5vw;
    font-weight: bold;
    background:-webkit-linear-gradient(left, #ed1e79, #6d0063);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
  }
  
  #country-select {
    color: white;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    background: transparent;
    padding: 2vh 1vw;
  }


/* ********** RESPONSIVE ********** */

@media screen and (max-width: 400px) {
  /* ***** WRAPPER RESPONSIVE ***** */
  .wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  /* ***** SECTION HOW TO CONTACT US RESPONSIVE ***** */
  .contact-us {
    width: auto;
  }

  #phone-icon {
    padding: 0 3vw 1.5vh 0;
    width: 5vw;
    height: 5vh;
  }

  /* ***** SECTION HOW TO FIND US RESPONSIVE ***** */
  .find-us {
    padding: 10vh 6vw;
  }
}
